.idea/*
models/*
data/*
wandb/*
!data/rt_data/
!data/rt_data/*.tsv
!/data/configs/
!/data/configs/*
!/data/surps/
!/data/surps/*
!/data/losses/
!/data/losses/*
__pycache__/*
*.Rproj*
get_surprisal_oh.py
.Rproj.user
.RHistory
*.pdf
*.html
*.csv
*.ipynb
*.xlsx
*.tsv
